<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="/">Intro</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/history">Histoire</a></li>
            <li class="navbar-item">
                <a class="navbar-link" href="/rules/Chap1" data-popover="#NavPopoverRules">Les Règles</a>
                <div id="NavPopoverRules" class="popover">
                    <ul class="popover-list">
                        <li class="popover-item">
                            <a class="popover-link" href="/rules/Chap1">Chapitre 1 : Le Personnage</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/rules/Chap2">Chapitre 2 : Le Combat</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/rules/Chap3">Chapitre 3 : Les Soins</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/rules/Chap4">Chapitre 4 : Le Marcher</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/rules/Chap5">Chapitre 5 : le Magouillage</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/rules/Chap6">Chapitre 6 : La Navigation</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navbar-item"><a class="navbar-link" href="/bestiary">Bestiaire</a></li>
            <li class="navbar-item">
                <a class="navbar-link" href="/species" data-popover="#NavPopoverGenerators">Générateurs</a>
                <div id="NavPopoverGenerators" class="popover">
                    <ul class="popover-list">
                        <li class="popover-item">
                            <a class="popover-link" href="/species">Générateur de Créatures</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/map">Générateur de Cartes</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/generator">Générateur de Competences</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="/character/selection" data-popover="#NavPopoverPJ">Personnages</a>
                <div id="NavPopoverPJ" class="popover">
                    <ul class="popover-list">
                        <li class="popover-item">
                            <a class="popover-link" href="/character/selection">Fiches Personnages</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/character/create">Creer un Personnage</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="/character/skills">Compétences</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navbar-item"><a class="navbar-link" href="/game/selection"">Trouver une Partie</a></li>
        </ul>
    </div>
</nav>