<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

  <div class="container">

    <%- include('header'); -%>
    <%- include('navbar'); -%>

    <div class="docs-section">
      <h1 class="docs-header">L'Atrogation</h1>
      <label>Work in Progress</label>
      <p>La galaxie est découpée en cadrans, dont les contours ont principalement été tracés par les contraintes
        Spatiales. Ce déplacé au sein d'un cadran est à la porter de n'importe quel vaisseau munis d'un système
        Hyperdrivre. Sortir d'un cadran à l'autre en revanche est impossible pour la plupart des appareils mobiles. Il
        faut en générale une quantité d'énergie phénoménale et une grande maîtrise technologique. C'est pourquoi les
        consensus les plus évolués de la galaxie ont construit et maintiennent aujourd'hui des portes qui permettent la
        circulation spatiales entre ces longues distances. Elles sont souvent présentes près d'une grande source
        d'énergie (une étoile par exemple) et sont très contrôlées. Les Etats qui possèdent le contrôles de telles
        portes peuvent s'assurer des revenus colossaux en fonction des trafic et des taxes de passage qu'ils peuvent
        appliquer.
      </p>
      <p>
        Lorsque vous tentez de vous déplacer dans un cadrant, vous devez renseigner une multitude de paramètres sur
        votre destination, la route prendre, et l'état des forces de gravitations. Ces informations sont souvent
        meilleures si vous avez des cartes spatiales à jours. Plus le saut est renseigné, moins les calculs seront long,
        et plus le trajet sera optimisé. Pour réussir le saut, il faut que votre appareil soit à vitesse constante et
        que son intégrité physique soit préservée entre le début du calcul et le saut, ce qu'il veut dire que sa coque
        et son blindage ne doivent pas être altéré. C'est la principale difficulté lorsque vous devez vous tirer des
        griffes des adversaires un peu collants.
      </p>
    </div>
  </div>
</body>