<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

  <div class="container">

    <%- include('header'); -%>
    <%- include('navbar'); -%>

    <div class="docs-section">
      <h1 class="docs-header">La rareté</h1>
      <p align="justify">Les objets ne sont pas toujours faciles à acquérir. On note sur une échelle de 0 à 5 la rareté
        d'un objet, ou 0 est un objet conventionnel que l'on voie dans quasiment toutes les boutiques du monde, et 5
        représente l'objet presque unique, difficile à acquérir même pour les bourses les plus profondes et les bras les
        plus longs.</p>
    </div>
    <div class="docs-section">
      <h1 class="docs-header">La recherche d'objets</h1>
      <p align="justify"> La plupart du temps, vous pourrez profiter des objets que l'on vous met sous le nez dans les
        boutiques les plus prestigieuses des grandes villes, ou dans les souks des autres. Cependant, si vous cherchez
        un objet plus rare, il vous faudra le plus souvent user de vos compétences ou de vos relations pour vous en
        procurer. La négociation sera un bon allié pour obtenir des pièces rare de votre fournisseur préféré.</p>
    </div>
    <div class="docs-section">
      <h1 class="docs-header">Le marché noir</h1>
      <p align="justify">Pour obtenir les objets les plus exotiques, mais aussi les plus douteux, il vous faudra une
        porte d'entrée. Si vous avez les bonnes compétences en <strong>Magouilles</strong>, en fonction du lieu, il vous sera plus au
        moins facile d'accéder à un marché caché. Cela va dépendre de la politique du lieu, et de la présence ou non des
        forces de l'ordre en vigueur. Ici, vous découvrirez un large panel d'objet rare, ou communs avec des prix
        défiant la concurrence. Mais vous pourriez aussi tomber sur une mauvaise surprise. Autant du côté de la
        marchandise, que du côté du marchand.</p>
    </div>
  </div>
</body>