<!--HEAD -->
<%- include('head'); -%>

<!-- BODY -->

<body class="code-snippets-visible">

  <div class="container">

    <%- include('header'); -%>
    <%- include('navbar'); -%>

    <div class="docs-section">
        <h1 class="docs-header"> Bienvenu <%= user.pseudo %></h1>
    </div>
  </div>

</body>